@import "tailwindcss";
@custom-variant hover (&:hover);

body {
  background-color: #1d1b22;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 30000px;
}

#hero-key-container {
  mask-image: radial-gradient(
    circle at 50% 50%,
    black 50%,
    transparent 100%
  );
}

#hero-key-logo-mask {
  mask-image: url("/images/logo-stack.svg");
  mask-position: 50% 15%;
  mask-repeat: no-repeat;
  mask-size: clamp(2000vw, 5000vh, 5000vw);
}

#banner-1 {
  /* mask-image: radial-gradient(
    circle at 50% 50%,
    black 100%,
    transparent 100%
  ); */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
}
