@import "tailwindcss";

body {
  background-color: #1d1b22;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 5000px;
}

#hero-key-container {
  mask-image: radial-gradient(
    circle at 50% 50%,
    black 50%,
    transparent 100%
  );
}

#hero-key-logo-mask {
  mask-image: url("/images/logo-stack.svg");
  mask-position: center 16%;
  mask-repeat: no-repeat;
  mask-size: clamp(15000px, 2500vw, 70000px);
}
